{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h2>Exemplo do uso de <a href="https://datatables.net/" target="_blank">DataTables</a></h2>
    <p>Exemplo do uso de DataTables em <a href="https://datatables.net/examples/data_sources/server_side.html" target="_blank">Server-side render processing</a> com Django.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cols">
      <h2>DataTables Server-side render </h2>
      <table id="TransactionsTable1" class="table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Id</th>
            <th>Ativo</th>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Banco</th>
            <th>Nota</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <hr>

</div> <!-- /container -->

{% endblock content %}

{% block js %}

<script src="{% static 'js/data.js' %}"></script>

{% endblock js %}