{% extends "core/base.html"%}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <form action="." method="GET" class="form-inline">
      <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
      <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
    </form>
  </div>
</div>

<div class="page-header">
  <h2>Lista de ativos cadastrados
    <span class="pull-right">
      <a href="{% url 'url_new_asset'%}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Adicionar
        </button>
      </a>
    </span>
  </h2>

  {% if objects %}
    {% comment %} <h1>Lista de ativos cadastrados</h1> {% endcomment %}
    <table id="AssetsTable" class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Ativo</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Classe</th>
          <th>Setor</th>
          <th>Subsotor</th>
          <th>Segmento</th>
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
          <tr>
            <td class="text-center"> <a href="{{ object.get_absolute_url}}">{{object.sigla}}</a></td>
            <td>{{object.name}}</td>
            <td>{{object.price}}</td>
            <td>{{object.classe}}</td>
            <td>{{object.setor}}</td>
            <td>{{object.subsetor}}</td>
            <td>{{object.segmento}}</td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

</div>

{% endblock content %}

{% block js %}

<script src="{% static 'js/data.js' %}"></script>

{% endblock js %}