{% extends "core/base.html"%}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <form action="." method="GET" class="form-inline">
      <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
      <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
    </form>
  </div>
</div>

<div class="page-header">
  <h2>Lista de ativos cadastrados
    <span class="pull-right">
      <a href="{% url 'url_new_asset'%}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Adicionar
        </button>
      </a>
    </span>
  </h2>

  {% if assets %}
    {% comment %} <h1>Lista de ativos cadastrados</h1> {% endcomment %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Ativo</th>
          <th>Nome</th>
          <th>Preço</th>
          <th><i class="fa fa-thumbs-o-up"></i></th>
          <th><i class="fa fa-thumbs-o-down"></i></th>
          <th>Frequência</th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
          <tr>
            <td class="text-center"> <a href="{%url 'url_update_asset' asset.id %}">{{asset.sigla}}</a></td>
            <td>{{asset.nome}}</td>
            <td>{{asset.price}}</td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

</div>

{% endblock content %}
