<!-- https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->

<nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color:#decdc3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transações</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'url_list_transactions'%}">Listar</a>
                        <a class="dropdown-item" href="{% url 'url_transactions_serverside'%}">Listar2</a>
                        <a class="dropdown-item" href="{% url 'url_new_transaction'%}">Criar Novo</a>
                        <a class="dropdown-item" href="{% url 'url_transactions_json'%}">Json</a>
                        <a class="dropdown-item" href="{% url 'url_upload_file'%}">Upload arquivo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#" id="dropdown01" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">Ativos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'url_list_assets'%}">Listar</a>
                        <a class="dropdown-item" href="{% url 'url_assets_serverside'%}">Listar2</a>
                        <a class="dropdown-item" href="{% url 'url_new_asset'%}">Criar Novo</a>
                        <a class="dropdown-item" href="{% url 'url_assets_json'%}">Json</a>
                        <a class="dropdown-item" href="{% url 'url_upload_file'%}">Upload arquivo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#" id="dropdown01" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">Portifolio</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'url_list_portfolio'%}">Listar</a>
                        <a class="dropdown-item" href="{% url 'url_list_portfolio'%}">Listar2</a>
                        <a class="dropdown-item" href="{% url 'url_new_asset'%}">Criar Novo</a>
                        <a class="dropdown-item" href="{% url 'url_assets_json'%}">Json</a>
                        <a class="dropdown-item" href="{% url 'url_upload_file'%}">Upload arquivo</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>